{% extends 'base.html' %}
{%block title%}
Index page
{%endblock%}


{%block content%}


<form action="add" method="post">
	{% csrf_token %}

   Name: 	<input type="text" name="name"><br>
   Address:	<input type="text" name="address" ><br>
   Age:<input type="text" name="age">
   
<input type="submit" value="Add Employee"><br>

<p>
      {{msg}} <br>
      
   </p>
</form>




<form action="dis">	
	<input type="submit" value="Display"><br>
	
<table border="1">
			<tr>
			<td>Empid</td>
			<td>Name</td>
			<td>Address</td>
			<td>Age</td>
			</tr>
			{% for i in empdtls %}   	<!-- Jinja format,dtl Django Template Lang -->
			<tr>
			<td>{{i.id}}</td>
			<td>{{i.name}}</td>
			<td>{{i.address}}</td>
			<td>{{i.age}}</td>
			</tr>
			{% endfor %}					
		</table><br>
</form>





<!-- <form action="del" method="POST">
	
<select name="name" id="name">
        
	{% for i in employees %}
	<option value="">-- Select Employee --</option>
		<option value="{{ i.name }}">{{ i.name }}</option>
	{% endfor %}
</select>
    {% csrf_token %}   
    <input type="submit" value="Delete">
</form>

<p>{{ msg }}</p> -->


<form action="update" method="Post">
	{%csrf_token%}

Old Name: 	<input type="text" name="oldname"><br>
Newname:	<input type="text" name="newname"><br>
<input type="submit" value="Update Employee"><br>


<p>
      {{msg1}}<br>
      

	  
   </p>
</form>



<form action="del" method="Post">
	{%csrf_token%}

Name to be deleted: 	<input type="text" name="name"><br>

<input type="submit" value="Delete Employee"><br>


<p>
      {{msg1}} <br>
      

   </p>
</form>












<form action="create" method="POST">
	{%csrf_token%}

   Name: 	<input type="text" name="name1"><br>
Address:	<input type="text" name="address1"><br>
	<input type="submit" value="Create"><br>


<p>
      {{msg1}}
    

   </p></form>



   
{%endblock%}

















